<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="styles.css" />
  <script src="https://unpkg.com/vue@next"
    defer></script>
  <script src="app.js"
    defer></script>
</head>

<body>
  <header>
    <h1>Vue Styling</h1>
  </header>
  <section id="assignment">
    <!-- 1) Fetch the user input and use it as a CSS class -->
    <!-- The entered class should be added to the below paragraph -->

    <!-- ! Use v-model to sync this input element to the data property 'inputA' -->
    <input type="text"
      v-model="inputA" />

    <!-- (available classes: "user1", "user2") -->

    <!-- ! Use a computed property to determine if the input is 'user1' or 'user2'  -->
    <p :class="[styleA, styleB]">
      Style me!
    </p>

    <!-- ! Bind the button to a click event for a method controllign visibility. -->
    <!-- ! visible will control the class for styleB -->
    <button @click="styleButtonB">Toggle Paragraph</button>

    <!-- 2) Use the "visible" and "hidden" classes to show/ hide the above paragraph -->
    <!-- Clicking the button should toggle between the two options -->

    <!-- 3) Add dynamic inline styling to the below paragraph and let the user enter a background-color -->

    <!-- ! Dynamic inline using a v-model with a data property. -->
    <input type="text"
      v-model="inputB" />
    <p :style="{backgroundColor: inputB}">Style me inline!</p>
  </section>
</body>

</html>